* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    padding: 50px 150px;
    background-color: #404149;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    display: flex;
    align-items: center;
}

.navbar>li>a>i {
    font-size: 24px;/*flex-direction: row; */
}

.navbar>li>a {
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 42px;

    margin-right: 10px;
    
}
.navbar>li>a:hover {
    color: #19191b;
}

header{
    background-image: url("../media/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top ; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1100px;
}


header .title_block {
    /* padding-top: 192px; */
    text-align: center;
    color: white;
   padding: 192px 188px 20px 188px;
    }

header .title_block h1 {
    font-family: Oswald;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
    line-height: 1; 
}

header .title_block h1::first-line {
    line-height: 95px;
}

header .title_block p {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

header .info_block {
    border-color: #fff;
    padding: 57px 130px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: Oswald;
}

header .info_block>div>p:first-child {
    font-size: 72px;
    font-weight: 500px;
    color: #F7654A;
}

header .info_block>div>p:nth-child(2) {
    font-size: 36px;
    font-weight: 500px;
    color: #000;
    margin-bottom: 10px;
}

header .info_block>div>p:last-child(2) {
    font-size: 18px;
    font-weight: 500px;
    color: #999;
}

/* mobile first
desctop first */

/* @media [тип устройства] and ([характеристики]) 
[тип устройства] = по умолчанию screen
print вид приложения во время принта
*/

@media screen and (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* @media (max-width: 1200px) and (orientation: portrait) {
    .navbar {
    display: none;
    }
} */


/* .navbar {
    @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    }
} */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.about .about_block h2 {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #000;
    margin-bottom: 66px;
}

.about .services {
    /* flex-wrap: wrap;
    display: flex; */
    gap: 30px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}


.about .services>div {
    background-color:  #f7f7f7;
    text-align: center;
    padding: 60px 90px;
}

.about .services>div p {
    font-size: 21px;
    font-weight: 500;
    font-family: Oswald;
}

.about .services>div i {
    font-size: 48px;
    color: #f7654A;
}
